<div class="partners-grid">
  <div *ngFor="let partner of partners" class="partner-card">
    <div class="partner-image">
      <img 
        [appDefaultImg]="partner.photoUrl"
        [defaultImage]="defaultImage"
        alt="{{ partner.name }}" 
        class="partner-avatar" />
    </div>

    <div class="partner-info">
      <h5 class="partner-name">{{ partner.name }}</h5>
      <p class="partner-role">Web Designer</p>
      <div class="partner-contact">
        <p class="truncate-text">{{ partner.email }}</p>
        <p>{{ partner.phoneNumber }}</p>
      </div>
    </div>

    <button (click)="showPartnerDetails(partner.id)" class="partner-details-button">
      View Details
    </button>

    <!-- <div class="partner-stats">
      <div class="stat">
        <ng-container *ngFor="let star of [].constructor(partner.stars)">
          <i class="fa fa-star filled-star"></i>
        </ng-container>
      </div>
      <div class="stat">
        <i class="fa fa-comment"></i> {{ partner.reviews }}
      </div>
       <div class="stat">
        <i class="fa fa-phone"></i> {{ partner.number }}
      </div> 
    </div> -->
  </div>
</div>
