<div class="sidebar" [class.collapsed]="isCollapsed">
  <button class="toggle-btn" (click)="toggleSidebar()">
    <mat-icon>{{ isCollapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
  </button>
  
  <div class="sidebar-menu">
    <button class="menu-item" routerLink="/home/statistics" routerLinkActive="active">
      <mat-icon>bar_chart</mat-icon>
      <span>Statistics</span>
    </button>
    
    <button class="menu-item" routerLink="/home/partner" routerLinkActive="active">
      <mat-icon>handshake</mat-icon>
      <span>Partners</span>
    </button>
    
    <button class="menu-item" routerLink="/home/customer" routerLinkActive="active">
      <mat-icon>people</mat-icon>
      <span>Customers</span>
    </button>
    
    <button class="menu-item" routerLink="/home/reservation" routerLinkActive="active">
      <mat-icon>event_available</mat-icon>
      <span>Reservations</span>
    </button>
  </div>
</div>